* {
  margin: 0;
  padding: 0;
}
body,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  padding: 2em;
  font-family: "Open Sans";
  font-size: 18px;
}
header img {
  width: 250px;
  padding-bottom: 120px;
}
.mockup_img {
  width: 95%;
}
.content h2 {
  font-size: 40px;
}
.content {
  flex-basis: 70%;
  font-family: "Poppins";
  margin-right: -7%

}
.content p {
  color: rgb(94, 88, 88);
  font-weight: 400;
  font-size: 18px;
}
.content button {
  padding: 1em;
  border-radius: 30px;
  color: white;
  border: none;
  background-color: hsl(322, 100%, 66%);
  width: 40%;
}

.content button:hover { background-color: hsl(322, 100%, 66%); opacity: 0.6;}
.text button:hover { background-color:hsl(322, 100%, 66%)  ; opacity: 0.6;}
footer .fa-brands:hover {color: hsl(322, 100%, 66%) ; border-color:hsl(322, 100%, 66%) ; }
a:hover{ text-decoration: underline ; color: white;}
a:not(:hover){ text-decoration: none ; color: white;}
.column {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: white;
  margin: 5%;
  box-sizing: border-box;
  border-color: black;
  border: 3em;
  box-shadow: 100px;
}
.growing_img {
  width: 80%;
  float: right;
}
.flowing_img {
  width: 80%;
}
.users_img {
  width: 80%;
  float: right;
}
.text {
  width: 130%;
}
.text p {
  color: rgb(94, 88, 88);
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 18px;
}
.text button {
  padding: 1em;
  border-radius: 30px;
  color: white;
  border: none;
  background-color: hsl(322, 100%, 66%);
  width: 40%;
  border-radius: 100px;
}
.text2 {
  width: 130%;
}
.text2 p {
  color: white;
  font-weight: 400;
  font-family: "Open Sans";
  font-size: 18px;
}

header {
  color: white;
}


footer .text2 {
  color: white;
  font-size: 20px;
  margin-left: 7%;
  width: 250px;
  white-space: nowrap;
  margin-top:15% ;
  padding-left: -100%;

}

.text2 p { margin-left: 5%; white-space: nowrap ; font-size: small; font-weight: lighter;}
 
.row { display: flex; flex-direction: row; }
.texts { float : right; display: flex; flex-direction: row;}
footer .text-1 { margin-left: -40%;  color: white;
  font-size: 20px;
  width: 250px;
  white-space: nowrap;
  margin-top: 2.5% ;}

  footer .text0 {  color: white; 
    font-size: 20px;
    padding-left:35% ;
    margin-top: 15% ;white-space: nowrap; 
  }

    footer .text1 {   color: white;
      font-size: 20px;
       padding-left : 11%;
      margin-top: 15% ;white-space: nowrap; }

      footer .fa-brands {color: white; font-size:15px ; 
        border: 1px solid white; padding: 5px ;border-radius: 55%; margin-right: 5px ;}


    @media screen and ( max-width :375px) {
    .content{ display: block ;}

      header img { width : 100%}

   }

